@import "tailwindcss";
@import "sireno-deck-2-theme";

:root {
  color-scheme: only dark;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  background-color: var(--color-bg);
  color: var(--color-fg);
}
