@import "tailwindcss";
@import "virtual:sireno/theme";

:root {
  color-scheme: dark light;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  background-color: var(--color-bg);
  color: var(--color-fg);
}
